@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
::-moz-selection {
  background-color: #5340ff;
  color: #fff;
}
::selection {
  background-color: #5340ff;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #00000002;
}

button {
  border: none;
}

.container {
  width: 100%;
  max-width: 144.8rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btnGlobal {
  display: block;
  width: 100%;
  max-width: 15.9rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #5340ff;
  padding: 3rem 2.8rem;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btnGlobal:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #1800f3;
}

.linkMenu {
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 1.7rem;
  color: #090b17;
}

.inputContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inputContent input {
  width: 100%;
  max-width: 60rem;
  background-color: #f4f6f8;
  color: #676e8b;
  border: none;
  padding: 3rem 9rem 3rem 4rem;
  font-size: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  outline: none;
  border: 3px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.inputContent input:focus {
  border-color: #5340ff;
}
@media (max-width: 600px) {
  .inputContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inputContent input {
    padding: 3rem 3rem 3rem 2rem;
    font-size: 2rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .inputContent a {
    width: 100%;
    max-width: 60rem;
  }
}
@media (max-width: 460px) {
  .inputContent input {
    padding: 2.4rem 2.4rem 2.4rem 2rem;
    font-size: 1.7rem;
  }
}

.titleContent {
  width: 100%;
  max-width: 70rem;
  margin-bottom: 8rem;
}
.titleContent.contentCreative {
  max-width: 800rem;
}
.titleContent .title {
  font-size: 5rem;
  line-height: 140%;
  text-align: center;
  color: #090b17;
}
@media (max-width: 700px) {
  .titleContent {
    margin-top: 1rem;
  }
  .titleContent .title {
    font-size: 4rem;
  }
}
@media (max-width: 460px) {
  .titleContent {
    margin-bottom: 5rem;
  }
  .titleContent .title {
    font-size: 2.5rem;
  }
}

header {
  background-color: #fff;
  -webkit-box-shadow: rgba(11, 7, 110, 0.04) 0px 5px 20px 0px;
  box-shadow: rgba(11, 7, 110, 0.04) 0px 5px 20px 0px;
  z-index: 3;
}
header .containerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 170.4rem;
  height: 9rem;
  margin: 0 auto;
  padding: 1.5rem;
}
header .containerHeader .logo {
  width: 100%;
  max-width: 11.9rem;
}
header .containerHeader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem;
}
header .containerHeader .loginContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}
header .containerHeader .loginContent .btnMenu {
  padding: 2.2rem 2.8rem;
  border-radius: 5px;
}
header .containerHeader .loginContent .btnMobile {
  background: transparent;
  display: none;
}
@media (max-width: 1080px) {
  header .containerHeader nav {
    display: none;
  }
  header .containerHeader .loginContent a {
    display: none;
  }
  header .containerHeader .loginContent .btnMobile {
    width: 100%;
    max-width: 4rem;
    display: block;
    cursor: pointer;
  }
}

.sHero {
  padding-bottom: 8rem;
}
.sHero .container {
  height: 45.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sHero .container .texts {
  margin-top: 10rem;
  text-align: center;
}
.sHero .container .texts h1 {
  font-size: 6rem;
  color: #090b17;
  margin-bottom: 4rem;
}
.sHero .container .texts p {
  font-size: 2.3rem;
  color: #676e8b;
  margin-bottom: 5rem;
  font-weight: 500;
}
@media (max-width: 700px) {
  .sHero .container .texts {
    margin-top: 0;
  }
  .sHero .container .texts h1 {
    font-size: 4.5rem;
  }
  .sHero .container .texts p {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .sHero .container .texts h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .sHero .container .texts p {
    font-size: 1.7rem;
    margin-bottom: 4rem;
    line-height: 180%;
  }
}

.sSlide .swiper .swiper-wrapper .swiper-slide {
  margin-bottom: 6rem;
}
.sSlide .swiper .swiper-wrapper .swiper-slide img {
  border-radius: 15px;
}
.sSlide .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #5340ff;
}
@media (max-width: 600px) {
  .sSlide {
    margin-top: -5rem;
  }
  .sSlide .swiper {
    margin: 3rem;
  }
}
@media (max-width: 400px) {
  .sSlide .swiper {
    margin: 1rem;
  }
}

.sAreaLogos {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #f4f6f8;
}
.sAreaLogos .container {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3rem;
}
.sAreaLogos .container img {
  width: 100%;
  max-width: 18rem;
}
@media (max-width: 1060px) {
  .sAreaLogos .container img {
    max-width: 13rem;
  }
}
@media (max-width: 800px) {
  .sAreaLogos .container img {
    max-width: 10rem;
  }
}
@media (max-width: 660px) {
  .sAreaLogos {
    display: none;
  }
}

.sBrandLogos {
  margin-top: 15rem;
  margin-bottom: 9rem;
}
.sBrandLogos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sBrandLogos .container .containerLogos .contentLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 6rem;
}
.sBrandLogos .container .containerLogos .contentLogos:not(:last-child) {
  margin-bottom: 8rem;
}
.sBrandLogos .container .containerLogos .contentLogos.brandDois {
  display: none;
}
.sBrandLogos .container .containerLogos .contentLogos .contentImage {
  width: 100%;
}
.sBrandLogos .container .containerLogos .contentLogos .textContent h3 {
  color: #090b17;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.sBrandLogos .container .containerLogos .contentLogos .textContent h3 span {
  color: #5340ff;
}
.sBrandLogos .container .containerLogos .contentLogos .textContent p {
  width: 100%;
  max-width: 90rem;
  font-size: 1.9rem;
  line-height: 190%;
  color: #676e8b;
  font-weight: 500;
  margin-bottom: 5rem;
}
.sBrandLogos .container .containerLogos .contentLogos .textContent .btnBrand {
  padding: 2.2rem 2.8rem;
  border-radius: 6px;
}
@media (max-width: 700px) {
  .sBrandLogos {
    margin-top: 10rem;
  }
  .sBrandLogos .container .containerLogos .contentLogos {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sBrandLogos .container .containerLogos .contentLogos.brandUm {
    display: none;
  }
  .sBrandLogos .container .containerLogos .contentLogos.brandDois {
    display: block;
  }
  .sBrandLogos .container .containerLogos .contentLogos .textContent {
    margin: 3rem;
  }
  .sBrandLogos .container .containerLogos .contentLogos .textContent h3 {
    font-size: 3rem;
  }
  .sBrandLogos .container .containerLogos .contentLogos .textContent p {
    font-size: 1.6rem;
  }
}
@media (max-width: 460px) {
  .sBrandLogos {
    margin-top: 10rem;
  }
  .sBrandLogos .container .containerLogos .contentLogos .textContent {
    margin: 1rem;
  }
  .sBrandLogos .container .containerLogos .contentLogos .textContent h3 {
    font-size: 2.4rem;
  }
  .sBrandLogos .container .containerLogos .contentLogos .textContent p {
    font-size: 1.4rem;
  }
}

.sMakeLogo {
  background-color: #f4f6f8;
  margin-bottom: 4rem;
}
.sMakeLogo .container {
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
}
.sMakeLogo .container .titleContent {
  margin-bottom: 0;
}
.sMakeLogo .container .inputContent {
  width: 100%;
}
.sMakeLogo .container .inputContent input {
  background-color: #fff;
}

.sAllServices {
  margin-top: 13rem;
  margin-bottom: 13rem;
}
.sAllServices .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sAllServices .container .titleContent {
  max-width: 80rem;
}
.sAllServices .container .titleContent .textContent {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 180%;
  color: #676e8b;
  text-align: center;
}
.sAllServices .container .AllService {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 8rem;
  margin-top: 5rem;
}
.sAllServices .container .AllService .contentService .image {
  margin-bottom: 5rem;
}
.sAllServices .container .AllService .contentService .image img {
  width: 100%;
  max-width: 10rem;
}
.sAllServices .container .AllService .contentService .texts h5 {
  font-size: 1.9rem;
  color: #090b17;
}
.sAllServices .container .AllService .contentService .texts p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2rem;
}
.sAllServices .container .AllService .contentService .texts p img {
  width: 100%;
  max-width: 3rem;
  margin-right: 1rem;
}
.sAllServices .container .AllService .contentService .texts p span {
  line-height: 160%;
  color: #676e8b;
  font-size: 1.7rem;
}
.sAllServices .container .AllService .contentService .texts p span a {
  color: #5340ff;
}
@media (max-width: 1000px) {
  .sAllServices .container .AllService {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .sAllServices .container .AllService {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
  }
  .sAllServices .container .AllService .contentService .image {
    margin-bottom: 2rem;
  }
  .sAllServices .container .AllService .contentService .image img {
    width: 100%;
    max-width: 8rem;
  }
}
@media (max-width: 460px) {
  .sAllServices {
    margin-top: 8rem;
  }
}

.sVideo {
  margin-top: 9rem;
  margin-bottom: 18rem;
}
.sVideo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sVideo .container .titleContent {
  max-width: 80rem;
  margin-bottom: 5rem;
}
.sVideo .container .containerVideo {
  width: 100%;
}
.sVideo .container .containerVideo video {
  width: 100%;
}
@media (max-width: 460px) {
  .sVideo {
    margin-bottom: 8rem;
  }
}

.sBrandsDesigns {
  margin-top: 15rem;
  margin-bottom: 10rem;
}
.sBrandsDesigns .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sBrandsDesigns .container .titleContent {
  max-width: 80rem;
}
.sBrandsDesigns .container .allBrands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 5rem;
}
.sBrandsDesigns .container .allBrands .brandContent.spaceBox .texts {
  margin-bottom: 5rem;
}
.sBrandsDesigns .container .allBrands .brandContent.vivox {
  margin-top: -15rem;
}
.sBrandsDesigns .container .allBrands .brandContent.gravity {
  margin-top: -27rem;
}
.sBrandsDesigns .container .allBrands .brandContent .image img {
  width: 100%;
  max-width: 80rem;
  margin-bottom: 3rem;
}
.sBrandsDesigns .container .allBrands .brandContent .texts h3 {
  color: #090b17;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.sBrandsDesigns .container .allBrands .brandContent .texts p {
  color: #676e8b;
  font-size: 1.9rem;
}
@media (max-width: 1020px) {
  .sBrandsDesigns .container .allBrands {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6rem;
  }
  .sBrandsDesigns .container .allBrands .brandContent.spaceBox .texts {
    margin-bottom: 0;
  }
  .sBrandsDesigns .container .allBrands .brandContent.vivox {
    margin-top: 0;
  }
  .sBrandsDesigns .container .allBrands .brandContent.gravity {
    margin-top: 0;
  }
  .sBrandsDesigns .container .allBrands .brandContent .texts {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .sBrandsDesigns {
    margin-top: 8rem;
  }
}

.sTeam {
  margin-top: 20rem;
  margin-bottom: 10rem;
}
.sTeam .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4rem;
}
.sTeam .container .titleContent {
  max-width: 80rem;
}
.sTeam .container .titleContent .title {
  margin-bottom: 1.8rem;
}
.sTeam .container .titleContent p {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  line-height: 160%;
  color: #676e8b;
  font-weight: 400;
}
.sTeam .container .titleContent p a {
  color: #5340ff;
}
.sTeam .container .btnGlobal {
  margin-top: 3rem;
  background-color: transparent;
  color: #5340ff;
  border: 2px solid #5340ff;
  padding: 2.2rem 2.2rem;
  border-radius: 6px;
}
.sTeam .container .btnGlobal:hover {
  background-color: #5340ff;
  color: #fff;
}
@media (max-width: 600px) {
  .sTeam {
    margin-top: 10rem;
  }
}

.sLearn {
  margin-top: 15rem;
  margin-bottom: 20rem;
}
.sLearn .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sLearn .container .titleContent {
  max-width: 110rem;
}
.sLearn .container .allLearns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 9rem 6rem;
}
.sLearn .container .allLearns .cardLearn {
  width: 100%;
  max-width: 50rem;
}
.sLearn .container .allLearns .cardLearn .image {
  margin-bottom: 3rem;
}
.sLearn .container .allLearns .cardLearn .image img {
  height: 100%;
  width: 100%;
  height: 25rem;
  border-radius: 10px;
}
.sLearn .container .allLearns .cardLearn .texts a {
  display: block;
}
.sLearn .container .allLearns .cardLearn .texts a.linkTop {
  font-size: 1.6rem;
  color: #5340ff;
  margin-bottom: 2rem;
}
.sLearn .container .allLearns .cardLearn .texts a.linkBottom {
  font-size: 2.6rem;
  line-height: 150%;
  color: #090b17;
  font-weight: 700;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sLearn .container .allLearns .cardLearn .texts a.linkBottom:hover {
  text-decoration: underline;
}
@media (max-width: 980px) {
  .sLearn .container .allLearns {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 9rem 4rem;
  }
}
@media (max-width: 700px) {
  .sLearn .container .allLearns {
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 9rem 4rem;
  }
}
@media (max-width: 460px) {
  .sLearn {
    margin-bottom: 10rem;
  }
}

.sGetStarted {
  margin-bottom: 7rem;
  background-color: #5340ff;
}
.sGetStarted .container {
  height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sGetStarted .container .texts h3 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.sGetStarted .container .texts p {
  color: #ffffffc2;
  font-size: 2rem;
  width: 100%;
  max-width: 50rem;
  line-height: 140%;
}
.sGetStarted .container .inputContent {
  max-width: 80rem;
  width: 100%;
}
.sGetStarted .container .inputContent input:focus {
  border-color: #090b17;
}
.sGetStarted .container .inputContent .btnGlobal {
  background-color: #090b17;
}
@media (max-width: 800px) {
  .sGetStarted .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .sGetStarted .container {
    height: 45rem;
  }
}
@media (max-width: 460px) {
  .sGetStarted .container .texts h3 {
    font-size: 3.5rem;
  }
  .sGetStarted .container .texts p {
    font-size: 1.8rem;
  }
}

footer {
  margin-top: 12rem;
  margin-bottom: 7rem;
}
footer .container {
  max-width: 154rem;
}
footer .container .allLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 7rem;
}
footer .container .allLinks .contentLinks h5 {
  color: #090b17;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}
footer .container .allLinks .contentLinks nav ul li:not(:last-child) {
  margin-bottom: 2.5rem;
}
footer .container .allLinks .contentLinks nav ul li a {
  color: #676e8b;
  font-size: 1.7rem;
  line-height: 160%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .container .allLinks .contentLinks nav ul li a:hover {
  color: #5340ff;
}
footer .container .allLinks .socialMedia a:not(:last-child) {
  margin-right: 2rem;
}
footer .container .allLinks .socialMedia a i {
  font-size: 4rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
footer .container .allLinks .socialMedia a i:hover {
  color: #090b17 !important;
}
footer .container .copyRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .container .copyRight h6 {
  color: #676e8b;
  font-size: 1.7rem;
  font-weight: 400;
  margin-right: 0.4rem;
}
footer .container .copyRight .links a {
  color: #676e8b;
  font-size: 1.7rem;
  margin-right: 0.4rem;
}
footer .container .copyRight .links a:hover {
  color: #5340ff;
}
@media (max-width: 900px) {
  footer .container {
    margin: 2rem;
  }
  footer .container .allLinks {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8rem 0;
  }
}
@media (max-width: 460px) {
  footer .container .allLinks {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem 0;
  }
  footer .container .allLinks .contentLinks h5 {
    font-size: 1.8rem;
  }
  footer .container .allLinks .contentLinks nav ul li a {
    font-size: 1.5rem;
  }
  footer .container .allLinks .socialMedia a i {
    font-size: 2.8rem;
  }
  footer .container .copyRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.showModal .modalLogin {
  opacity: 1;
  pointer-events: all;
}
.showModal .modalLogin .modalContent {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.showModal .modalSign {
  opacity: 1;
  pointer-events: all;
}
.showModal .modalSign .modalContent {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.modalLogin {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2023;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.modalLogin .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.modalLogin .modalContent {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 50rem;
  height: 60rem;
  padding: 4rem;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.modalLogin .modalContent .close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  background: transparent;
  font-size: 4rem;
  cursor: pointer;
}
.modalLogin .modalContent .topContent .text h3 {
  text-align: center;
  color: #090b17;
  font-size: 3rem;
}
.modalLogin .modalContent .topContent .midiaSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.modalLogin .modalContent .topContent .midiaSocial .linkContent {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modalLogin .modalContent .topContent .midiaSocial .linkContent:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modalLogin .modalContent .topContent .midiaSocial .linkContent.boxTwitter {
  background-color: #8ac2ff;
}
.modalLogin .modalContent .topContent .midiaSocial .linkContent.boxFacebook {
  background-color: #2456a2;
}
.modalLogin .modalContent .topContent .midiaSocial .linkContent.boxGoogle {
  background-color: #dd4b39;
}
.modalLogin .modalContent .topContent .midiaSocial .linkContent a {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modalLogin .modalContent .topContent .orContent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3rem 2rem 3rem 2rem;
  text-align: center;
}
.modalLogin .modalContent .topContent .orContent span {
  color: #676e8b;
  font-size: 1.7rem;
  font-weight: 400;
}
.modalLogin .modalContent .topContent .orContent span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 60%;
  width: 70%;
  height: 0.8px;
  background-color: #676e8b85;
}
.modalLogin .modalContent .topContent .orContent span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  width: 70%;
  height: 0.8px;
  background-color: #676e8b85;
}
.modalLogin .modalContent .bottomContent {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.modalLogin .modalContent .bottomContent input {
  width: 100%;
  padding: 2rem;
  outline: none;
  border: 1px solid #83adec5e;
  border-radius: 8px;
  font-size: 1.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modalLogin .modalContent .bottomContent input:focus {
  border-color: #5340ff;
}
.modalLogin .modalContent .bottomContent button {
  cursor: pointer;
  background-color: #5340ff;
  color: #fff;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  font-size: 1.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modalLogin .modalContent .bottomContent button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #1800f3;
}
.modalLogin .modalContent .bottomContent .password {
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
}
.modalLogin .modalContent .bottomContent .password .passwordUm {
  color: #5340ff;
}
.modalLogin .modalContent .bottomContent .password .passwordDois {
  color: #090b17;
}

.modalSign {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2023;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.modalSign .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.modalSign .modalContent {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 60rem;
  height: 70rem;
  padding: 4rem;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.modalSign .modalContent .close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  background: transparent;
  font-size: 4rem;
  cursor: pointer;
}
.modalSign .modalContent .topContent .text h3 {
  text-align: center;
  color: #090b17;
  font-size: 3rem;
}
.modalSign .modalContent .topContent .text p {
  font-size: 1.6rem;
  text-align: center;
  color: #676e8b;
  margin-top: 0.8rem;
}
.modalSign .modalContent .topContent .midiaSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.modalSign .modalContent .topContent .midiaSocial .linkContent {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modalSign .modalContent .topContent .midiaSocial .linkContent:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modalSign .modalContent .topContent .midiaSocial .linkContent.boxTwitter {
  background-color: #8ac2ff;
}
.modalSign .modalContent .topContent .midiaSocial .linkContent.boxFacebook {
  background-color: #2456a2;
}
.modalSign .modalContent .topContent .midiaSocial .linkContent.boxGoogle {
  background-color: #dd4b39;
}
.modalSign .modalContent .topContent .midiaSocial .linkContent a {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modalSign .modalContent .topContent .orContent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3rem 2rem 3rem 2rem;
  text-align: center;
}
.modalSign .modalContent .topContent .orContent span {
  color: #676e8b;
  font-size: 1.7rem;
  font-weight: 400;
}
.modalSign .modalContent .topContent .orContent span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 0.8px;
  background-color: #676e8b85;
}
.modalSign .modalContent .topContent .orContent span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 0.8px;
  background-color: #676e8b85;
}
.modalSign .modalContent .bottomContent {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.modalSign .modalContent .bottomContent input {
  width: 100%;
  padding: 2rem;
  outline: none;
  border: 1px solid #83adec5e;
  border-radius: 8px;
  font-size: 1.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modalSign .modalContent .bottomContent input:focus {
  border-color: #5340ff;
}
.modalSign .modalContent .bottomContent button {
  cursor: pointer;
  background-color: #5340ff;
  color: #fff;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  font-size: 1.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modalSign .modalContent .bottomContent button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #1800f3;
}
.modalSign .modalContent .bottomContent .password {
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
}
.modalSign .modalContent .bottomContent .password .passwordUm {
  color: #5340ff;
}
.modalSign .modalContent .bottomContent .password .passwordDois {
  color: #090b17;
}