header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: rgba(11, 7, 110, 0.04) 0px 5px 20px 0px;
    z-index: 3;
    .containerHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 170.4rem;
        height: 9rem;
        margin: 0 auto;
        padding: 1.5rem;
        .logo{
            width: 100%;
            max-width: 11.9rem;
        }
        nav{
            ul{
                display: flex;
                align-items: center;
                gap: 4rem;
            }
        }
        .loginContent{
            display: flex;
            align-items: center;
            gap: 3rem;
            .btnMenu{
                padding: 2.2rem 2.8rem;
                border-radius: 5px;
            }
            .btnMobile{
                background: transparent;
                display: none;
            }
        }
    }
    @include responsivo(1080px){
        .containerHeader{
            nav{
                display: none;
            }
            .loginContent{
                a{
                    display: none;
                }
                .btnMobile{
                    width: 100%;
                    max-width: 4rem;
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}

.menuMobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2022;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    aside{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform .3s;
        .topo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
            img{
                width: 100%;
                max-width: 10rem;
            }
            .close{
                background: transparent;
                font-size: 4rem;
                cursor: pointer;
                padding: 1rem;
            }
        }
        ul{
            margin-bottom: 2.4rem;
            li{
                .linkMenu{
                    padding: 1.5rem 0;
                    display: block;
                    font-size: 2rem;
                    color: #090b17;
                }
            }
        }
        .loginContent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;
            .btnGlobal{
                max-width: 100%;
                padding: 2rem;
            }
        }
    }
}

.menuOpened{
    overflow: hidden;
    .menuMobile{
        opacity: 1;
        pointer-events: all;
        aside{
            transform: translateX(0%);
        }
    }
}