.sHero{
    padding-bottom: 8rem;
    .container{
        height: 45.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .texts{
            margin-top: 10rem;
            text-align: center;
            h1{
                font-size: 6rem;
                color: #090b17;
                margin-bottom: 4rem;
            }
            p{
                font-size: 2.3rem;
                color: #676e8b;
                margin-bottom: 5rem;
                font-weight: 500;
            }
        }
    }
    @include responsivo(700px){
        .container{
            .texts{
                margin-top: 0;
                h1{
                    font-size: 4.5rem;
                }
                p{
                    font-size: 2rem;
                }
            }
        }
    }
    @include responsivo(400px){
        .container{
            .texts{
                h1{
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.7rem;
                    margin-bottom: 4rem;
                    line-height: 180%;
                }
            }
        }
    }
}

.sSlide{
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                margin-bottom: 6rem;
                img{
                    border-radius: 15px;
                }
            }
        }
        .swiper-pagination{
            .swiper-pagination-bullet{
                background-color: #5340ff;
            }
        }
    }

    @include responsivo(600px){
        margin-top: -5rem;
        .swiper{
            margin: 3rem;
        }
    }
    @include responsivo(400px){
        .swiper{
            margin: 1rem;
        }
    }
}

.sAreaLogos{
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #f4f6f8;
    .container{
        height: 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        img{
            width: 100%;
            max-width: 18rem;
        }
    }
    @include responsivo(1060px){
        .container{
            img{
                max-width: 13rem;
            }
        }
    }
    @include responsivo(800px){
        .container{
            img{
                max-width: 10rem;
            }
        }
    }
    @include responsivo(660px){
        display: none;
    }
}

.sBrandLogos{
    margin-top: 15rem;
    margin-bottom: 9rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .containerLogos{
            .contentLogos{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 6rem;
                &:not(:last-child){
                    margin-bottom: 8rem;
                }
                &.brandDois{
                    display: none;
                }
                .contentImage{
                    width: 100%;
                }
                .textContent{
                    h3{
                        color: #090b17;
                        font-size: 3.5rem;
                        margin-bottom: 2rem;
                        span{
                            color: #5340ff;
                        }
                    }
                    p{
                        width: 100%;
                        max-width: 90rem;
                        font-size: 1.9rem;
                        line-height: 190%;
                        color: #676e8b;
                        font-weight: 500;
                        margin-bottom: 5rem;
                    }
                    .btnBrand{
                        padding: 2.2rem 2.8rem;
                        border-radius: 6px;
                    }
                }
            }
        }
    }

    @include responsivo(700px){
        margin-top: 10rem;
        .container{
            .containerLogos{
                .contentLogos{
                    justify-content: center;
                    flex-direction: column;
                    &.brandUm{
                        display: none;
                    }
                    &.brandDois{
                        display: block;
                    }
                    .textContent{
                        margin: 3rem;
                        h3{
                            font-size: 3rem;
                        }
                        p{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    @include responsivo(460px){
        margin-top: 10rem;
        .container{
            .containerLogos{
                .contentLogos{
                    .textContent{
                        margin: 1rem;
                        h3{
                            font-size: 2.4rem;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

.sMakeLogo{
    background-color: #f4f6f8;
    margin-bottom: 4rem;
    .container{
        height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        .titleContent{
            margin-bottom: 0;
        }
        .inputContent{
            width: 100%;
            input{
                background-color: #fff;
            }
        }
    }
}

.sAllServices{
    margin-top: 13rem;
    margin-bottom: 13rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .titleContent{
            max-width: 80rem;
            .textContent{
                margin-top: 2rem;
                font-size: 1.7rem;
                font-weight: 500;
                line-height: 180%;
                color: #676e8b;
                text-align: center;
            }
        }
        .AllService{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: flex-start;
            grid-gap: 8rem;
            margin-top: 5rem;
            .contentService{
                .image{
                    margin-bottom: 5rem;
                    img{
                        width: 100%;
                        max-width: 10rem;
                    }
                }
                .texts{
                    h5{
                        font-size: 1.9rem;
                        color: #090b17;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        margin-top: 2rem;
                        img{
                            width: 100%;
                            max-width: 3rem;
                            margin-right: 1rem;
                        }
                        span{
                            line-height: 160%;
                            color: #676e8b;
                            font-size: 1.7rem;
                            a{
                                color: #5340ff;
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsivo(1000px){
        .container{
            .AllService{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @include responsivo(660px){
        .container{
            .AllService{
                grid-template-columns: repeat(1, 1fr);
                margin-top: 2rem;.contentService{
                    .image{
                        margin-bottom: 2rem;
                        img{
                            width: 100%;
                            max-width: 8rem;
                        }
                    }
                }
            }
        }
    }
}