.sHero{
    padding-bottom: 8rem;
    .container{
        height: 45.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .texts{
            margin-top: 10rem;
            text-align: center;
            h1{
                font-size: 6rem;
                color: #090b17;
                margin-bottom: 4rem;
            }
            p{
                font-size: 2.3rem;
                color: #676e8b;
                margin-bottom: 5rem;
                font-weight: 500;
            }
        }
    }
    @include responsivo(700px){
        .container{
            .texts{
                margin-top: 0;
                h1{
                    font-size: 4.5rem;
                }
                p{
                    font-size: 2rem;
                }
            }
        }
    }
    @include responsivo(400px){
        .container{
            .texts{
                h1{
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.7rem;
                    margin-bottom: 4rem;
                    line-height: 180%;
                }
            }
        }
    }
}

.sSlide{
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                margin-bottom: 6rem;
                img{
                    border-radius: 15px;
                }
            }
        }
        .swiper-pagination{
            .swiper-pagination-bullet{
                background-color: #5340ff;
            }
        }
    }

    @include responsivo(600px){
        margin-top: -5rem;
        .swiper{
            margin: 3rem;
        }
    }
    @include responsivo(400px){
        .swiper{
            margin: 1rem;
        }
    }
}

.sAreaLogos{
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #f4f6f8;
    .container{
        height: 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        img{
            width: 100%;
            max-width: 18rem;
        }
    }
    @include responsivo(1060px){
        .container{
            img{
                max-width: 13rem;
            }
        }
    }
    @include responsivo(800px){
        .container{
            img{
                max-width: 10rem;
            }
        }
    }
    @include responsivo(660px){
        display: none;
    }
}

.sBrandLogos{
    margin-top: 15rem;
    margin-bottom: 9rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .containerLogos{
            .contentLogos{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 6rem;
                &:not(:last-child){
                    margin-bottom: 8rem;
                }
                &.brandDois{
                    display: none;
                }
                .contentImage{
                    width: 100%;
                }
                .textContent{
                    h3{
                        color: #090b17;
                        font-size: 3.5rem;
                        margin-bottom: 2rem;
                        span{
                            color: #5340ff;
                        }
                    }
                    p{
                        width: 100%;
                        max-width: 90rem;
                        font-size: 1.9rem;
                        line-height: 190%;
                        color: #676e8b;
                        font-weight: 500;
                        margin-bottom: 5rem;
                    }
                    .btnBrand{
                        padding: 2.2rem 2.8rem;
                        border-radius: 6px;
                    }
                }
            }
        }
    }

    @include responsivo(700px){
        margin-top: 10rem;
        .container{
            .containerLogos{
                .contentLogos{
                    justify-content: center;
                    flex-direction: column;
                    &.brandUm{
                        display: none;
                    }
                    &.brandDois{
                        display: block;
                    }
                    .textContent{
                        margin: 3rem;
                        h3{
                            font-size: 3rem;
                        }
                        p{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    @include responsivo(460px){
        margin-top: 10rem;
        .container{
            .containerLogos{
                .contentLogos{
                    .textContent{
                        margin: 1rem;
                        h3{
                            font-size: 2.4rem;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

.sMakeLogo{
    background-color: #f4f6f8;
    margin-bottom: 4rem;
    .container{
        height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        .titleContent{
            margin-bottom: 0;
        }
        .inputContent{
            width: 100%;
            input{
                background-color: #fff;
            }
        }
    }
}

.sAllServices{
    margin-top: 13rem;
    margin-bottom: 13rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .titleContent{
            max-width: 80rem;
            .textContent{
                margin-top: 2rem;
                font-size: 1.7rem;
                font-weight: 500;
                line-height: 180%;
                color: #676e8b;
                text-align: center;
            }
        }
        .AllService{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: flex-start;
            grid-gap: 8rem;
            margin-top: 5rem;
            .contentService{
                .image{
                    margin-bottom: 5rem;
                    img{
                        width: 100%;
                        max-width: 10rem;
                    }
                }
                .texts{
                    h5{
                        font-size: 1.9rem;
                        color: #090b17;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        margin-top: 2rem;
                        img{
                            width: 100%;
                            max-width: 3rem;
                            margin-right: 1rem;
                        }
                        span{
                            line-height: 160%;
                            color: #676e8b;
                            font-size: 1.7rem;
                            a{
                                color: #5340ff;
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsivo(1000px){
        .container{
            .AllService{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @include responsivo(660px){
        .container{
            .AllService{
                grid-template-columns: repeat(1, 1fr);
                margin-top: 2rem;.contentService{
                    .image{
                        margin-bottom: 2rem;
                        img{
                            width: 100%;
                            max-width: 8rem;
                        }
                    }
                }
            }
        }
    }
    @include responsivo(460px){
        margin-top: 8rem;
    }
}

.sVideo{
    margin-top: 9rem;
    margin-bottom: 18rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .titleContent{
            max-width: 80rem;
            margin-bottom: 5rem;
        }
        .containerVideo{
            width: 100%;
            video{
                width: 100%;
            }
        }
    }
    @include responsivo(460px){
        margin-bottom: 8rem;
    }
}

.sBrandsDesigns{
    margin-top: 15rem;
    margin-bottom: 10rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .titleContent{
            max-width: 80rem;
        }
        .allBrands{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0 5rem;
            .brandContent{
                &.spaceBox{
                    .texts{
                        margin-bottom: 5rem;
                    }
                }
                &.vivox{
                    margin-top: -15rem;
                }
                &.gravity{
                    margin-top: -27rem;
                }
                .image{
                    img{
                        width: 100%;
                        max-width: 80rem;
                        margin-bottom: 3rem;
                    }
                }
                .texts{
                    h3{
                        color: #090b17;
                        font-size: 2.5rem;
                        margin-bottom: 1rem;
                    }
                    p{
                        color: #676e8b;
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
    @include responsivo(1020px){
        .container{
            .allBrands{
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 6rem;
                .brandContent{
                    &.spaceBox{
                        .texts{
                            margin-bottom: 0;
                        }
                    }
                    &.vivox{
                        margin-top: 0;
                    }
                    &.gravity{
                        margin-top: 0;
                    }
                    .texts{
                        text-align: center;
                    }
                }
            }
        }
    }
    @include responsivo(460px){
        margin-top: 8rem;
    }
}

.sTeam{
    margin-top: 20rem;
    margin-bottom: 10rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
        .titleContent{
            max-width: 80rem;
            .title{
                margin-bottom: 1.8rem;
            }
            p{
                text-align: center;
                width: 100%;
                font-size: 1.8rem;
                line-height: 160%;
                color: #676e8b;
                font-weight: 400;
                a{
                    color: #5340ff;
                }
            }
        }
        .btnGlobal{
            margin-top: 3rem;
            background-color: transparent;
            color: #5340ff;
            border: 2px solid #5340ff;
            padding: 2.2rem 2.2rem;
            border-radius: 6px;
            &:hover{
                background-color: #5340ff;
                color: #fff;
            }
        }
    }

    @include responsivo(600px){
        margin-top: 10rem;
    }
}

.sLearn{
    margin-top: 15rem;
    margin-bottom: 20rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .titleContent{
            max-width: 110rem;
        }
        .allLearns{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 9rem 6rem;
            .cardLearn{
                width: 100%;
                max-width: 50rem;
                .image{
                    margin-bottom: 3rem;
                    img{
                        height: 100%;
                        width: 100%;
                        height: 25rem;
                        border-radius: 10px;
                    }
                }
                .texts{
                    a{
                        display: block;
                        &.linkTop{
                            font-size: 1.6rem;
                            color: #5340ff;
                            margin-bottom: 2rem;
                        }
                        &.linkBottom{
                            font-size: 2.6rem;
                            line-height: 150%;
                            color: #090b17;
                            font-weight: 700;
                            transition: all .4s;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsivo(980px){
        .container{
            .allLearns{
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 9rem 4rem;
            }
        }        
    }
    @include responsivo(700px){
        .container{
            .allLearns{
                place-items: center;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 9rem 4rem;
            }
        }        
    }
    @include responsivo(460px){
        margin-bottom: 10rem;
    }
}

.sGetStarted{
    margin-bottom: 7rem;
    background-color: #5340ff;
    .container{
        height: 36rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .texts{
            h3{
                color: #fff;
                font-size: 5rem;
                margin-bottom: 3rem;
            }
            p{
                color: #ffffffc2;
                font-size: 2rem;
                width: 100%;
                max-width: 50rem;
                line-height: 140%;
            }
        }
        .inputContent{
            max-width: 80rem;
            width: 100%;
            input:focus{
                border-color: #090b17;
            }
            .btnGlobal{
                background-color: #090b17;
            }
        }
    }
    @include responsivo(800px){
        .container{
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }
    }
    @include responsivo(600px){
        .container{
            height: 45rem;
        }
    }
    @include responsivo(460px){
        .container{
            .texts{
                h3{
                    font-size: 3.5rem;
                }
                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
}

footer{
    margin-top: 12rem;
    margin-bottom: 7rem;
    .container{
        max-width: 154rem;
        .allLinks{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            margin-bottom: 7rem;
            .contentLinks{
                h5{
                    color: #090b17;
                    font-size: 2.2rem;
                    margin-bottom: 3rem;
                }
                nav{
                    ul{
                        li{
                            &:not(:last-child){
                                margin-bottom: 2.5rem;
                            }
                            a{
                                color: #676e8b;
                                font-size: 1.7rem;
                                line-height: 160%;
                                transition: all .4s;
                                &:hover{
                                    color: #5340ff;
                                }
                            }
                        }
                    }
                }
            }
            .socialMedia{
                a{
                    &:not(:last-child){
                        margin-right: 2rem;
                    }
                    i{
                        font-size: 4rem;
                        transition: all .6s;
                        &:hover{
                            color: #090b17 !important;
                        }
                    }
                }
            }
        }
        .copyRight{
            display: flex;
            align-items: center;
            h6{
                color: #676e8b;
                font-size: 1.7rem;
                font-weight: 400;
                margin-right: .4rem;
            }
            .links{
                a{
                    color: #676e8b;
                    font-size: 1.7rem;
                    margin-right: .4rem;
                    &:hover{
                        color: #5340ff;
                    }
                }
            }        
        }
    }
    @include responsivo(900px){
        .container{
            margin: 2rem;
            .allLinks{
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 8rem 0;
            }
        }
    }
    @include responsivo(460px){
        .container{
            .allLinks{
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 4rem 0;
                .contentLinks{
                    h5{
                        font-size: 1.8rem;
                    }
                    nav{
                        ul{
                            li{
                                a{
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .socialMedia{
                    a{
                        i{
                            font-size: 2.8rem;
                        }
                    }
                }
            }
            .copyRight{
                flex-direction: column;   
            }
        }
    }
}